#message-box {
    width: 300px;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  }
  
  #message-box p {
    font-size: 18px;
    margin-bottom: 16px;
  }
  
  #start-game-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .containergame {
    display: flex;
  }
  #close-game-button {
      background-color: black;
      border: none;
      color: white;
      padding: 10px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 0 auto;
      margin-top: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  }
  
  #start-game-button:hover {
    background-color: #3e8e41;
  } 